*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
}
.container
{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.header
{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before
{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5e5373;
  z-index: 2;
}
.header__logo
{
  z-index: 3;
}
.header__body
{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__list
{
  display: flex;
  z-index: 2;
  position: relative;
}

.header__list li
{
  list-style: none;
  margin-left: 20px;
}

.header__link
{
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.content
{
  padding-top: 80px;
}
.header__burger
{
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
}
.header__burger::before,
.header__burger::after
{
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
}
.header__burger::before
{
  top: 0;
}
.header__burger::after
{
  bottom: 0;
}
.header__burger span
{
  position: absolute;
  right: 0;
  height: 2px;
  background-color: white;
  width: 100%;
  top: 9px;
  transition: all .5s ease;
}
.header__burger.active span
{
  transform: scale(0);
}

.header__burger
{
  display: none;
}
.header__burger.active::before
{
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active::after
{
  transform: rotate(-45deg);
  bottom: 9px;
}

@media (max-width:768px)
{
  .header__burger
  {
    display: block;
    z-index: 3;
  }
  .header__logo
  {
    display: block;
    margin: 0 auto;
  }
  .header__logo img
  {
    width: 120px;
    height: 60px;
  }
  .header__menu
  {
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:mediumaquamarine;
    padding: 100px 0 0 0;
    transition: all .5s ease;
  }
  .header__menu.active
  {
    top: 10px;
  }
  .header__body
  {
    height: 60px;
  }
  .header__list
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0;
  }
  .header__list li
  {
    margin: 0 0px 20px 0;
  }
  .header__link
  {
    font-size: 20px;
    transition: all .3s ease;
  }
  .header__link:hover
  {
    font-size: 22px;
  }
}
